<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	
    <!-- bean definitions here -->
    <bean id="helloworld" class="com.spring.demo.HelloWorld"></bean>
    <bean id="person" class="com.spring.demo.Person">
    	<property name="firstName" value="Pramod"></property>
    	<property name="lastName" value="Kumar"></property>
    </bean>
    
    <bean id="car" class="com.spring.demo.Car">
    	<property name="name" value="renault duster"></property>
    	<property name="perDayCost" value="500"></property>
    </bean>

	<bean id="user" class="com.spring.demo.User" autowire="byName" parent="superuser"></bean>
	<bean id="superuser" class="com.spring.demo.SuperUser">
		<property name="name" value="Michael"></property>
		<property name="accessPriviledge" value="admin"></property>
	</bean>
</beans>